# Virtual Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Pytest and Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDEs
.vscode/
.idea/
